<footer>
    <br>
     <ul>
         <li><a href="/">Top</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/profile">Profile</a></li>
         <li><a href="https://twitter.com">Twitter</a></li>
         <li><a href="/contact">Contact</a></li>
         <li><a href="/policy">プライバシーポリシー</a></li>

    </ul>
    <div class="logo"><a href="/"><img src="/static/theme/footer.png" alt="My Blog Name"></a></div>
    <p>Copyright&copy; My Blog Name all rights reserved.</p>
    <br>
</footer>