<header>
    <div class="header">
        <a href="/" class="logo">
            <img src="/static/theme/logo.png" alt="My Blog Name">
        </a>

        <div class="main-menu">
            <ul>
                <li><a href="/">Top</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="https://twitter.com">Twitter</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
